html {
  scroll-behavior: smooth;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgba(23, 23, 23, var(--tw-bg-opacity));
}

@media (min-width: 2000px) {
  .container {
    max-width: 1536px;
  }
}

@layer components {
  .title-h1 {
    @apply text-4xl text-gray-50 font-heading sm:text-6xl;
  }
  .title-h2 {
    @apply text-3xl text-gray-50 font-heading sm:text-5xl;
  }
  .title-h3 {
    @apply text-2xl text-gray-50 font-heading sm:text-3xl;
  }
}

.home-enter-active,
.home-leave-active {
  transition: all 0.6s ease;
  transition-delay: 200ms;
}

.home-enter,
.home-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}

@media (min-width: 1024px) {
  .home-enter,
  .home-leave-active {
    transition-delay: 0ms;
    opacity: 0;
    transform: scale(0.9);
  }
}
